p {
    color: red;
}

body {
    background-color: white;
}

h1[class="red"] {
    color: salmon;
    border: 5px solid red;
}

h2 {
    color: limegreen;
    border: 4px dotted blue;
}

h3 {
    color: maroon
}

div {
    opacity: 0.3;
    background-color: mediumblue;
}

input {
    color: yellow;
}

input[type=reset] {
    color: skyblue;
}

span {
    color: hotpink;
}

h1[class="hiding"] {
    color: green;
}

h1[class="hiding"]:hover {
    color: purple
}

p#par {
    color: fuchsia
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4, h5, h6 {
    color: darkslategray
}

p[class="hiding"] {
    color: green;
}

p[class="hiding"]:hover {
    color: purple
}

p.hiding {
    color: wheat;
}

span.selecting {
    color: cornflowerblue;
}

input[type=text] {
    color: red;
}

[type=text] {
    background-color: olive;
}

[type=number] {
    background-color: yellow;
}

input:hover {
    color: blue;
}

/*si commenta così*/
/*l'elemento table viene modificato con border, collapse e width*/
/*del viewport*/
/*gli altri due elementi che vivono dentro table sono td e th che*/
/*rispettivamente sono i labels e gli elementi*/
/*th e td sono separati alla fine*/
/*e se lavoro con tr?*/
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 25%;
}

td, th {
    border: 1px solid red;
    padding: 10px;
    text-align: center;
}

th {
    background-color: lightblue;
}

td {
    background-color: lightgreen;
}

tr{
    font-family: serif;
    font-size: 80px;
}